[Unit]
Description="Run llaman-backup.service once a week on Sunday"

[Timer]
OnCalendar=Sun *-*-* 01:00:00
Persistent=true
Unit=llaman-backup.service

[Install]
WantedBy=multi-user.target
