[Unit]
Description=Open-WebUI
After=network.target

[Service]
WorkingDirectory=/opt/open-webui/
ExecStart=/opt/open-webui/start.sh
RestartForceExitStatus=3
User=open-webui

[Install]
WantedBy=multi-user.target

